<p id="notice"><%= notice %></p>

<p>
  <strong>Forward sorting area:</strong>
  <%= @animal_area.forward_sorting_area %>
</p>

<p>
  <strong>Dogs:</strong>
  <%= @animal_area.dogs %>
</p>

<p>
  <strong>Cats:</strong>
  <%= @animal_area.cats %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @animal_area.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @animal_area.longitude %>
</p>

<%= link_to 'Edit', edit_animal_area_path(@animal_area) %> |
<%= link_to 'Back', animal_areas_path %>
